.categories {
  padding-left: 20px;
  padding-right: 20px;
}
.userinfo {
    margin-left: -1000px;
}

#img-size {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

#icon-space {
    margin-right: -100px;
}

.black-card-text {
  color: black;
}

.black-card-text:hover {
  color: black;
}